$light-parchment: #f6f2e5;
$light-grey: #9b929b;
$light-gold: #deb992;
$midnight-blue: #0b0b29;
$midnight-purple: #40417a;
$dark-purple: #4c285f;
$sky-red: #632125;

$sen: "Sen", sans-serif;
$manrope: "Manrope", sans-serif;

$tablet: 768px;
$desktop: 992px;
