@use "../../styles/_variables.scss" as *;

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  margin: auto;
  margin-bottom: 135px;

  .about-me-image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 9px;
      width: 80%;
      max-width: 360px;
    }
  }

  .about-me-text {
    font-size: 18px;
    text-align: justify;
  }
}

@media only screen and (min-width: $tablet) {
  .about-me-container {
    flex-direction: row;

    .about-me-image {
      width: 31%;
    }

    .about-me-text {
      max-width: 62%;
    }
  }
}
