@use "../../styles/_variables.scss" as *;

.about-me-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 135px;

  .about-me-image {
    position: relative;
    width: 31%;
    display: flex;
    align-items: center;

    img {
      height: 360px;
      width: 360px;
      border-radius: 9px;
    }
  }

  .about-me-text {
    max-width: 62%;
    text-align: justify;
    font-size: 18px;
  }
}
