@use "../../styles/_variables.scss" as *;

.experience-container {
  margin-bottom: 18px;

  &.hidden {
    .experience {
      transform: translateY(40px);
      opacity: 0;
    }

    .company {
      transform: translateX(40px);
      opacity: 0;
    }
  }

  .experience {
    opacity: 1;
    transition: $fadeIn;
    margin-bottom: 12px;

    .link {
      display: inline-block;
      transition: 0.3s color;
      cursor: pointer;
      font-weight: 400;

      a {
        color: $light-parchment;
        text-decoration: none;

        &::after {
          display: block;
          transform: scale(0);
          opacity: 0;
          transition: 0.2s opacity ease-in-out, 0.3s background-color, 0.3s transform;
          background-color: $light-parchment;
          width: 100%;
          height: 2px;
          content: "";
        }

        &:hover {
          color: $peach;

          &::after {
            transform: scale(1);
            opacity: 100%;
            background-color: $peach;
          }
        }
      }
    }
  }

  .company {
    opacity: 1;
    transition: $fadeIn;

    .company-name {
      display: inline-block;
      margin-bottom: 6px;
      border-bottom: 2px solid $light-parchment;
      text-transform: uppercase;
    }

    .company-timespan {
      display: block;
      margin-bottom: 6px;
      color: $light-grey;
      font-size: 15px;
    }

    .relevant-skills {
      display: flex;
      flex-wrap: wrap;
      gap: 9px;
      margin-bottom: 12px;

      .skill {
        border-radius: 18px;
        background-color: rgba($royal-blue, 0.4);
        padding: 9px;
        font-size: 12px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .experience-container {
    display: flex;
    gap: 12px;
    margin-bottom: 0;

    .company {
      order: 2;
      width: 37%;
    }

    .experience {
      order: 1;
      width: 63%;
    }
  }
}
