@use "./styles/_variables.scss" as *;

.app-header {
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, $midnight-purple 0%, $midnight-blue 100%);
  min-height: 100vh;
}

.app-body {
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 1150px;
}
