@use "./styles/_variables.scss" as *;
@use "./styles/fonts";

body {
  margin: 0;
  font-family: $manrope-thin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $light-parchment;
  font-size: 18px;
  line-height: 1.5;
}
