@use "../../styles/_variables.scss" as *;

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  font-size: 27px;
  text-align: center;

  .middle-line {
    font-size: 63px;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: $tablet) {
  .header-text {
    .top-line {
      font-size: 36px;
      text-align: left;
    }

    .bottom-line {
      font-size: 36px;
      text-align: right;
    }

    .middle-line {
      font-size: 100px;
      text-align: center;
    }
  }
}
