@use "../../styles/_variables.scss" as *;

.header-text {
  font-size: 36px;
  min-height: 100vh;
  max-width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top-line {
    text-align: left;
  }

  .bottom-line {
    text-align: right;
  }

  .middle-line {
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
  }
}
