@use "../../styles/_variables.scss" as *;

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  font-size: 27px;
  text-align: center;

  .top-line {
    .hi {
      opacity: 0;
      animation: 1.5s linear 1s fadeInAnimation;
      animation-fill-mode: forwards;
    }

    .my-name-is {
      opacity: 0;
      animation: 1.8s linear 2.6s fadeInAnimation;
      animation-fill-mode: forwards;
    }
  }

  .middle-line {
    font-size: 63px;
    font-family: "Parisienne", cursive;

    .typed-name {
      opacity: 0;
      animation: 2s linear 3.5s fadeInAnimation;
      animation-fill-mode: forwards;
    }

    .handwritten-name {
      display: none;
    }
  }

  .bottom-line {
    opacity: 0;
    animation: 2.5s linear 4.8s fadeInAnimation;
    animation-fill-mode: forwards;
  }
}

@media only screen and (min-width: $tablet) {
  .header-text {
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $midnight-blue;
      width: 100%;
      height: 2px;
      //content: "";
    }

    .top-line {
      font-size: 36px;
      text-align: left;
    }

    .bottom-line {
      font-size: 36px;
      text-align: right;
    }

    .middle-line {
      font-size: 0;
      text-align: center;

      .typed-name {
        display: none;
      }

      .handwritten-name {
        fill: $light-parchment;
        display: block;

        opacity: 0;
        animation: 0s linear 3s fadeInAnimation;
        animation-fill-mode: forwards;
        margin: auto;

        .mask {
          fill: black;
          stroke: #f0f0f0;
          stroke-miterlimit: 10;
          transform: translate(var(--translate-x), var(--translate-y));
          animation: strokeOffset var(--animation-length) linear forwards var(--animation-delay);
        }
      }

      @keyframes strokeOffset {
        to {
          stroke-dashoffset: 0;
        }
      }

      #mask-B {
        --animation-length: 0.5s;
        --animation-delay: 3s;
        --translate-x: -5px;
        --translate-y: 0px;
      }
      #mask-e {
        --animation-length: 0.2s;
        --animation-delay: 3.5s;
        --translate-x: 118px;
        --translate-y: 44px;
      }
      #mask-n {
        --animation-length: 0.2s;
        --animation-delay: 3.7s;
        --translate-x: 165px;
        --translate-y: 44px;
      }
      #mask-d {
        --animation-length: 0.3s;
        --animation-delay: 3.9s;
        --translate-x: 219px;
        --translate-y: 5px;
      }
      #mask-e-2 {
        --animation-length: 0.2s;
        --animation-delay: 4.2s;
        --translate-x: 283px;
        --translate-y: 44px;
      }
      #mask-g {
        --animation-length: 0.4s;
        --animation-delay: 4.4s;
        --translate-x: 312px;
        --translate-y: 44px;
      }
      #mask-u {
        --animation-length: 0.2s;
        --animation-delay: 4.8s;
        --translate-x: 369px;
        --translate-y: 22px;
      }
      #mask-z {
        --animation-length: 0.2s;
        --animation-delay: 5s;
        --translate-x: 411px;
        --translate-y: 47px;
      }
      #mask-T {
        --animation-length: 0.4s;
        --animation-delay: 5.4s;
        --translate-x: 525px;
        --translate-y: -2px;
      }
      #mask-a {
        --animation-length: 0.2s;
        --animation-delay: 5.8s;
        --translate-x: 611px;
        --translate-y: 47px;
      }
      #mask-k {
        --animation-length: 0.45s;
        --animation-delay: 6s;
        --translate-x: 660px;
        --translate-y: 0px;
      }
      #mask-aa {
        --animation-length: 0.35s;
        --animation-delay: 6.45s;
        --translate-x: 708px;
        --translate-y: 23px;
      }
      #mask-c {
        --animation-length: 0.2s;
        --animation-delay: 6.8s;
        --translate-x: 767px;
        --translate-y: 38px;
      }
      #mask-s {
        --animation-length: 0.2s;
        --animation-delay: 7s;
        --translate-x: 806px;
        --translate-y: 36px;
      }
    }
  }
}
