@use "../../styles/variables.scss" as *;

.slider {
  width: 100%;
  margin-bottom: 36px;

  .slider-texts {
    margin-bottom: 36px;

    &.right-aligned-texts {
      text-align: right;
    }

    .slider-title {
      font-size: 36px;
      font-weight: 500;
    }
    .slider-subtitle {
      font-size: 16px;
    }
  }

  .slider-container {
    display: flex;
    justify-content: space-between;
    gap: 6%;

    .slider-items {
      width: 60%;
      position: relative;
      perspective: 1000px;

      .slider-item {
        width: 74%;
        max-height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 13%;
        z-index: 1;
        --card-scale-offset: 0.8;
        --card-rotation-offset: 0;
        --card-depth-offset: -100px;
        --card-y-offset: 0;
        opacity: 0.4;
        border: 2px solid $midnight-blue;
        transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);

        transform: translateY(-50%) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset))
          translateZ(var(--card-depth-offset));

        &.prev-item {
          left: 0;
          --card-rotation-offset: 25deg;
        }

        &.next-item {
          left: 26%;
          --card-rotation-offset: -25deg;
        }

        &.current-item {
          z-index: 2;
          --card-scale-offset: 1;
          --card-depth-offset: 0;
          opacity: 1;
          position: relative;
        }
      }

      .slide-back,
      .slide-forward {
        height: 20px;
        width: 20px;
        position: absolute;
        background: none;
        border-left: 5px solid $midnight-purple;
        border-top: 5px solid $midnight-purple;
        border-right: none;
        border-bottom: none;
        top: 50%;
        --button-rotation-offset: 0;
        transform: translateY(-50%) rotateZ(var(--button-rotation-offset));
        z-index: 3;
        transition: 0.2s border-color ease-in-out;

        &:hover {
          border-color: $midnight-blue;
          cursor: pointer;
        }
      }

      .slide-back {
        --button-rotation-offset: -45deg;
        left: 10%;
      }

      .slide-forward {
        --button-rotation-offset: 135deg;
        right: 10%;
      }
    }

    .item-texts {
      position: relative;
      flex: 1;

      .item-text-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: none;

        .item-title,
        .item-description {
          transform: translateY(var(--text-position-offset));
          --text-position-offset: 0;
          transition: all 0.4s cubic-bezier(0.39, 0.58, 0.57, 1);
          opacity: 0;
        }

        .item-title {
          font-size: 27px;
          font-weight: 500;
        }

        .item-description {
          transition-delay: 0.2s;
        }

        &.current-item {
          display: block;

          &.fade-out {
            .item-title,
            .item-description {
              --text-position-offset: -60px;
              opacity: 0;
            }
          }

          .item-title,
          .item-description {
            opacity: 1;
          }
        }

        &.prev-item,
        &.next-item {
          &.fade-in {
            display: block;
          }

          .item-title,
          .item-description {
            --text-position-offset: 60px;
          }
        }
      }
    }
  }
}
